[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "==2.2.0"
jupyter-contrib-nbextensions = "==0.5.1"
nb-black = "==1.0.7"
isort = "==5.2.1"
autopep8 = "==1.5.3"
plotly = "==4.8.2"
fastparquet = "==0.4.1"
numpy = "==1.19.1"
pandas = "==1.1.0"
pyarrow = "==0.17.1"
python-snappy = "==0.5.4"
tqdm = "==4.48.1"
ipywidgets = "==7.5.1"
databricks-cli = "*"

[requires]
python_version = "3.8"
