[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "==3.0.3"
jupyter-contrib-nbextensions = "==0.5.1"
nb-black = "==1.0.7"
isort = "==5.7.0"
autopep8 = "==1.5.4"
plotly = "==4.14.3"
fastparquet = "==0.5.0"
numpy = "==1.19.5"
pandas = "==1.2.0"
pyarrow = "==2.0.0"
python-snappy = "==0.6.0"
tqdm = "==4.56.0"
ipywidgets = "==7.6.3"
databricks-cli = "*"

[requires]
python_version = "3.8"
