[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "==2.1.5"
jupyter-contrib-nbextensions = "==0.5.1"
nb-black = "==1.0.7"
isort = "==4.3.21"
autopep8 = "==1.5.3"
plotly = "==4.8.1"
fastparquet = "==0.4.0"
numpy = "==1.19.0"
pandas = "==1.0.4"
pyarrow = "==0.17.1"
python-snappy = "==0.5.4"
tqdm = "==4.47.0"
ipywidgets = "==7.5.1"
databricks-cli = "*"

[requires]
python_version = "3.8"
